html
	head
		link(rel='stylesheet', href='../style.css')
		link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Poiret+One', rel='stylesheet', type='text/css')


		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
		script.
			$(document).ready(function() {
				var _intervalId;
	
				function fadeInLastImg()
				{
					var backImg = $('.image img:first');
					backImg.hide();
					backImg.remove();
					$('.image' ).append( backImg );
					backImg.fadeIn()
				};
		
				_intervalId = setInterval( function() {
					fadeInLastImg();
				}, 8000 );

			});

			$(document).ready(function(){
				$("#contact").click(function(){
					$(".contactformregister").toggle("slow");
				});
				
			});


	body.container
		div(class="image")
			img(src="../img/sneakertje.jpg")
			img(src="../img/asics1.jpg")
			img(src="../img/asics2.jpg")
			img(src="../img/nike1.jpg")
			img(src="../img/adidas1.jpg")
			img(src="../img/puma1.jpg")
		
	div(class ="navbar")
		div(class ="navbar-nav")
			ul
				li #[a(class ="nav-link")(href="/")  HOME]
				li #[a(class ="nav-link")(href="/products/index")  SHOP]
					ul(class="dropdown")
						li#[a(class="droplink")(href="/products/filter?category=vrouwenschoenen") DAMESSNEAKERS]
						li#[a(class="droplink")(href="/products/filter?category=mannenschoenen") HERENSNEAKERS]
						li#[a(class="droplink")(href="/products/filter?category=kidsschoenen") KINDERSNEAKERS]
						li#[a(class="droplink")(href="/products/filter?category=asseccoires") ACCESSOIRES]

				li #[a(class ="nav-link")(href="")  MERKEN]
					ul(class="dropdown")
							li#[a(class="droplink" href="/products/filter?merk=adidas") ADIDAS]
							li#[a(class="droplink" href="/products/filter?merk=asics") ASICS]
							li#[a(class="droplink" href="/products/filter?merk=clarks") CLARKS]
							li#[a(class="droplink" href="/products/filter?merk=diadora") DIADORA]
							li#[a(class="droplink" href="/products/filter?merk=newbalance") NEW BALANCE]
							li#[a(class="droplink" href="/products/filter?merk=nike") NIKE]
							li#[a(class="droplink" href="/products/filter?merk=puma") PUMA]



				li #[a(class ="nav-link" id="contact")  CONTACT]
				li #[a(class ="nav-link")(href="")  SALE]

	div(class="contactformregister")
		p Email: 
		p kevindejonge1991@gmail.com
		hr
		p Tel: 0636190949
		hr
		p Addres: Krelis Louwenstraat 5-D6
		hr
		p Postal code: 1055KA
		hr
		p City: Amsterdam
		hr



	div(class="logoo")
		p(class="logo") formadores >
	if !username
			form(class = "registerform" action='/users/new' method='post')
				h1 REGISTER
				input(placeholder = 'username' name='username')
				br
				br
				input(placeholder = 'password' name='password' type = "password")
				br
				br
				input(placeholder = 'email' name='email')
				br
				br
				input(placeholder = 'name' name='name')
				br
				br
				input(placeholder = 'lastname' name='lastname')
				br
				br
				input(placeholder = 'telephone' name='telephone')
				br
				br
				input(placeholder = 'addres' name='addres')
				br
				br
				input(placeholder = 'postal code' name='postalcode')
				br
				br
				input(placeholder = 'city' name='city')
				br
				br
				input(type='date' placeholder="birthday" name='birthday')
				br
				br
				input(class="create" type='submit' value='create')

	div(class="social")
		#[a(href="")#[img(src="../img/facebook.png" width="25px" height="auto")]]
		#[a(href="")#[img(src="../img/instagram.png" width="25px" height="auto")]]
		#[a(href="")#[img(src="../img/twitter.png" width="25px" height="auto")]]

	div(class="socialhover")
		#[a(href="")#[img(class ="fb" src="../img/hover/facebook.png" width="25px" height="auto")]]
		#[a(href="")#[img(class = "insta" src="../img/hover/instagram.png" width="25px" height="auto")]]
		#[a(href="")#[img(class ="twitter" src="../img/hover/twitter.png" width="25px" height="auto")]]

	div(class="footer")
		p copyright Kevin de Jonge 2016
	div(class="gradientright")
	div(class="gradientleft")
	div(class="gradienthalf")
	div(class="topgradient")

